.layout{
    height: 100vh;
}

.bg-verde{
    background-color: rgb(14, 163, 0);
}

.back{
        
    background-image: linear-gradient(rgba(210, 210, 210, 0.70), rgba(210, 210, 210, 0.70)),
    url(../assets/divisa.png);
    background-size: contain;    
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 0;
}


